.card-column {
    width: 100%;
    min-height: 300px;
    border: 1px solid #000;
    padding: 10px;
    .card-column-title {
        width: 100%;
        border-bottom: 1px solid #ccc;
        margin: 0 0 20px 0;
        font-size: 20px;
        font-weight: bold;
        &:hover {
            background: red;
        }
    }
    .card-column-task-list {
        background: #ddd;
        width: 100%;
        min-height: 220px;
        padding-top: 5px;
        &.task-is-draggingOver-on-board {
            background: chocolate;
        }
        .task-column {
            margin: 5px;
            padding: 5px;
            background: #fff;
            border: 1px solid #000;
            &:hover {
                background: green;
            }
            &.task-is-dragging {
                background: yellow;
            }
        }
    }
}