.navbar-t {
    width: 100%;
    background: $base-color;
    color: #fff;
    .wrap {
        padding: 9px 15px;
        i {
            color: #fff;
        }
        .logo {
            img {
                width: 32px;
            }
        }
        .btn-left,
        .btn-right,
        a {
            button:not(:last-child),
            a:not(:last-child) {
                margin-right: 5px;
            }
        }
        .ant-badge .ant-badge-dot {
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
            height: 8px;
            width: 8px;
            top: -4px;
            right: -11px;
        }
    }

    .fixed-menu-mobile {
        position: fixed;
        z-index: 999;
        top: -50px;
        left: 0;
        width: 100%;
        padding: 0 15px;
        background: $base-color;
        text-align: center;
        transition: all 0.9s;
        .display-menu-mobile-t {
            display: none;
            i {
                color: #fff;
            }
        }
        button:not(:last-child) {
            margin-right: 6px;
        }
        &.active-mobile-t {
            top: 0;
            padding: 9px 15px;
            .display-menu-mobile-t {
                display: block;
            }
        }
        .right-menu-mobile {
            width: 32px;
        }
        .left-menu-mobile {
            width: calc(100% - 32px);
        }
    }
}