* {
    &:focus {
        outline: none;
    }
}
body {
    background: #eee;
}
.flex {
    display: flex;
}
.full-width {
    width: 100%;
}
.width-infinity {
    width: auto;
    overflow: scroll;
}
.pointer {
    cursor: pointer;
}
.hide-div {
    display: none;
}
.mr-t-7 {
    width: 100%;
    margin-top: 7px;
}
.h-5 {
    height: 5px;
}
.pd-r-5 {
    padding-right: 5px;
}
.pd-l-5 {
    padding-left: 5px;
}

.btn-no-border {
    border: none;
    &.btn-eee {
        background: #eee;
        &:hover {
            background: #ddd;
        }
    }
    &.btn-text-black {
        color: #000;
        &:hover {
            color: #000;
        }
    }
    &.btn-star-active {
        color: red;
        &:hover {
            color: red;
        }
    }
}

@media all and (max-width: 768px) {
    .pd-r-15-sm {
        padding-right: 15px;
    }
    .pd-l-15-sm {
        padding-left: 15px;
    }
}